* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: helvetica, arial;
}

/* CONTAINERS*/

#main-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#banner-container,
#form-container {
    flex: 1 1 0;
    width: 50%;
}

#banner-container {
    text-align: right;
}

#banner-container img {
    margin-right: -15px;
}

#form-container {
    text-align: center;
}

#form-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 30px;
}

#form-box #logo-insta {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
    background: #fff;
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 12px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
    padding: 12px 9px;
}

#login-form input[type="submit"] {
 background-color: #97d3fc;
 color: #fff;
 margin-top: 15px;
 border-radius: 5px;
 height: 30px;
 border-color: #97d3fc; 
 font-size: 13px;
 padding: 0;
 font-weight: bold;
 cursor: pointer;
}

/*SEPARADOR */

.separator {
    position: relative;
}

.separator .line {
    border-top: 1px solid #dbdbdb;
    width: 268px;
    margin: 25px auto 35px;
}

.separator span {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -25px;
    text-transform: uppercase;
    color: #bbb;
    width: 50px;
    font-size: 14px;
    font-weight: bold;
}

/* FACEBOOK LOGIN*/

#facebook-login {
    margin-bottom: 25px;
    
}

#facebook-login a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #385185;
}

#facebook-login img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#facebook-login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

#forgot-pass {
    margin-bottom: 20px;
    font-size: 12px;
}

#forgot-pass a {
    text-decoration: none;
    color: #373799;
}

/*CHMADA CADASTRO */

#register-container {
    margin-top: 10px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;   
    
}

#register-container p {
    font-size: 14px;
    color: #262626;
}

#register-container a {
    color: #4a95f6;
    font-weight: bold;
    text-decoration: none;
}

/* Obter o app*/

#get-app-continer {
    text-align: center;
    width:350px;
}

#get-app-continer p {
    font-size: 13px;
    margin: 20px 0;
}

#get-app-continer a {
    text-decoration: none;
}

#get-app-continer img {
    width: 136px;
    height: 40px;
}

/* FOOTER*/

footer {
    text-align: left;
    width: 1000px;
    margin: 50px auto;
}

footer #footer-links {
    list-style: none;
}

#footer-links li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
}

#footer-links a {
    text-decoration: none;
    color: #00376b;
    font-size: 12px;
    font-weight: bold;
}

#copyright {
    font-size: 12px;
    text-transform: uppercase;
    color: #8e8e8e;
    margin-top: 10px;
}

/* MOBLIE*/

@media(max-width:450px) {
    #banner-container {
        display: none;
    }

    #main-container,
    #form-box {
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #register-container,
    #get-app-container {
        width: 100%;
        border: none;
    }
    footer {
      width: 90%;
      text-align: center;
    }

    #footer-links li {
        margin-bottom: 10px;
    }
}
